{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="p-3">Welcome to the Dashboard page, <b>{{user.username}}! 👋</b></h1>
<hr style="border: 1px solid black; margin: 20px 180px;">
{% else %}
<h1>Welcome guest!</h1>
{% endif %}

<a class="btn btn-outline-primary" style="margin-left: 45%; margin-right: auto;"
    href="{% url 'webapp:create-record' %}">Create Record</a>

<div class="container text-center my-4">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th class="" scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Category</th>
                <th scope="col">Tall</th>
                <th scope="col">Weight</th>
                <th scope="col">Address</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <th class="bg-light" scope="row">{{record.id}}</th>
                <td>{{ record.first_name }} {{ record.last_name }}</td>
                <td>+20{{record.phone}}</td>
                <td>{{record.category}}</td>
                <td>{{record.tall}}</td>
                <td>{{record.weight}}</td>
                <td>{{record.address}}</td>
                <td>{{record.created_at}}</td>
                <td><a href="{% url 'webapp:detail-record' record.slug %}"
                        class="btn btn-outline-primary btn-sm">Veiw</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock content %}