{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1>Welcome to the Dashboard page, <b>{{user.username}}! 👋</b></h1>
<hr style="border: 1px solid black; margin: 30px 180px;">
{% else %}
<h1>Welcome guest!</h1>
{% endif %}

<!-- <h1 class="my-3 text-center">Hello, {{ user.username }}!</h1> -->

<!-- <a href="{% url 'users:logout' %}" class="btn btn-outline-danger"
    style="margin-left: 47%; margin-right: 47%;">Logout</a> -->

<a class="btn btn-outline-primary" style="margin-left: 45%; margin-right: auto;"
    href="{% url 'webapp:create-record' %}">Create Record</a>

<div class="container text-center my-4">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th class="" scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Category</th>
                <th scope="col">Tall</th>
                <th scope="col">Weight</th>
                <th scope="col">Address</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for record in record %}
            <tr>
                <th class="bg-light" scope="row">{{record.id}}</th>
                <td>{{ record.first_name }} {{ record.last_name }}</td>
                <td>+20{{record.phone}}</td>
                <td>{{record.category}}</td>
                <td>{{record.tall}}</td>
                <td>{{record.weight}}</td>
                <td>{{record.address}}</td>
                <td>{{record.created_at}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock content %}