{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="p-3">Welcome to the Dashboard page, <b>{{user.username}}! 👋</b></h1>
<hr style="border: 1px solid black; margin: 20px 180px;">
{% else %}
<h1>Welcome guest!</h1>
{% endif %}

<a class="btn btn-outline-primary mb-3" style="margin-left: 45%; margin-right: auto;"
    href="{% url 'webapp:create-record' %}">Create Record <i class="fa fa-plus" aria-hidden="true"></i></a>

{% include "parts/_messages.html" %}
<div class="row justify-content-end mb-3">
    <form method="GET" action="{% url 'webapp:search' %}" class="d-flex" role="search" style="max-width: 300px;">
        <input class="form-control me-2" type="search" name="query" placeholder="Search">
        <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
    </form>
</div>

<div class="container text-center my-4">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">
                    ID
                    <a href="?sort={{ next_sort }}" class="ms-2 text-decoration-none">
                        {% if next_sort == 'id' %}
                        <i class="bi bi-sort-down text-light"></i>
                        {% else %}
                        <i class="bi bi-sort-up-alt text-light"></i>
                        {% endif %}
                    </a>
                </th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Category</th>
                <th scope="col">Tall</th>
                <th scope="col">Weight</th>
                <th scope="col">Address</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% if records %}
            {% for record in records %}
            <tr>
                <th class="bg-light" scope="row">
                    {% if current_sort == '-id' %}
                    {{ forloop.revcounter }}
                    {% else %}
                    {{ forloop.counter }}
                    {% endif %}
                </th>
                <td>{{ record.first_name }} {{ record.last_name }}</td>
                <td>{{record.phone}}</td>
                <td>{{record.category}}</td>
                <td>{{record.tall}}</td>
                <td>{{record.weight}}</td>
                <td>{{record.address}}</td>
                <td>{{record.created_at}}</td>
                <td><a href="{% url 'webapp:detail-record' record.slug %}" class="btn btn-outline-primary btn-sm"
                        style="padding-left: 25px; padding-right: 25px;">View</a>
                    <button class="btn btn-sm btn-outline-danger delete-btn" data-slug="{{ record.slug }}"
                        data-name="{{ record.first_name }} {{ record.last_name }}" data-bs-toggle="modal"
                        data-bs-target="#deleteModal">
                        Delete <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="text-center mt-3" colspan="110">
                    <div class="alert alert-warning" style="margin: 0 90px;" role="alert">
                        <h4><b> You don't have any record yet!</b></h4>
                    </div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}