{% extends "base.html" %}


{% block content %}

<div class="cart" style="padding-left: 100px; padding-top: 100px;">
    <h3>
        <p><strong>ID: </strong>{{record.id}}</p>
        <p><strong>Full Name: </strong>{{record.first_name }} {{record.last_name}}</p>
        <p><strong>Phone: </strong>{{record.phone}}</p>
        <p><strong>Category: </strong>{{record.category}}</p>
        <p><strong>Tall: </strong>{{record.tall}}</p>
        <p><strong>Weight: </strong>{{record.weight}}</p>
        <p><strong>Address: </strong>{{record.address}}</p>
        <p><strong>Created_at: </strong>{{record.created_at}}</p>
    </h3>
</div>

<div class="container d-flex gap-2">
    <a href="{% url 'webapp:dashboard' %}"><i class="bi bi-skip-start-fill fs-1" style="margin-left: -25px;"></i></a>
    <a class="btn btn-outline-success" style="margin-right: 5px;" href="{% url 'webapp:edit-record' record.slug %}">Edit
        Record</a>
    <a class="btn btn-outline-danger" style="margin-left: 5px;"
        href="{% url 'webapp:delete-record' record.slug %}">Delete</a>
</div>

{% endblock content %}