{% extends "base.html" %}

{% block content %}

<div class=" container text-center" style="margin-top: 20px;">
    <h1 class="my-3">Django - CRM - Management at it's finest!</h1>
    <h5 class="mt-2"> <b>Keep track of your records effectively!</b></h5>
</div>
<hr style="border: 1px solid black; margin: 30px 180px;">
<div class="container text-center gap-2" style="margin-top: 5%;">
    {% if user.is_authenticated %}
    <a href="{% url 'webapp:dashboard' %}" class="btn btn-outline-success" style="margin-right: 10px;">Dashboard <i class="fa-solid fa-house-chimney" aria-hidden="true"></i></a>
    <a href="{% url 'users:logout' %}" class="btn btn-outline-danger"
        style="padding-right: 3%; padding-left: 3%; margin-left: 10px;">Signout <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
    {% else %}
    <a href="{% url 'users:register' %}" class="btn btn-outline-success">Create Your
        Account <i class="bi-person-plus-fill" aria-hidden="true"></i></a>
    <a href="{% url 'users:login' %}" class="btn btn-outline-primary"
        style="padding-right: 4%; padding-left: 4%; margin-left: 10px;">Login <i class="bi bi-door-closed-fill" aria-hidden="true"></i></a>
    {% endif %}

</div>

{% endblock content %}