{% extends "base.html" %}

{% block content %}

<div class="container text-center my-4">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">
                    ID
                    <a href="?sort={{ next_sort }}" class="ms-2 text-decoration-none">
                        {% if next_sort == 'id' %}
                        <i class="bi bi-sort-down text-light"></i>
                        {% else %}
                        <i class="bi bi-sort-up-alt text-light"></i>
                        {% endif %}
                    </a>
                </th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Category</th>
                <th scope="col">Tall</th>
                <th scope="col">Weight</th>
                <th scope="col">Address</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% if results %}
            {% for record in results %}
            <tr>
                <th class="bg-light" scope="row">
                    {% if current_sort == '-id' %}
                    {{ forloop.revcounter }}
                    {% else %}
                    {{ forloop.counter }}
                    {% endif %}
                </th>
                <td>{{ record.first_name }} {{ record.last_name }}</td>
                <td>{{record.phone}}</td>
                <td>{{record.category}}</td>
                <td>{{record.tall}}</td>
                <td>{{record.weight}}</td>
                <td>{{record.address}}</td>
                <td>{{record.created_at}}</td>
                <td><a href="{% url 'webapp:detail-record' record.slug %}"
                        class="btn btn-outline-primary btn-sm">Veiw</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="text-center mt-3" colspan="110">
                    <div class="alert alert-warning" style="margin: 0 90px;" role="alert">
                        <h4><b>Not Found "{{ query }}"!</b></h4>
                    </div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}