<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
    <a class="navbar-brand main-heading" href="{% url 'webapp:home' %}">

        &nbsp; Mostafa - CRM
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#x"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container" style="margin-left: -15px;">
        <ul id="x" class="navbar-nav collapse navbar-collapse mr-auto">
            &nbsp; &nbsp; &nbsp;
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:dashboard' %}">Dashboard &nbsp; <i
                        class="fa-solid fa-house-chimney" aria-hidden="true"></i> </a>
            </li>
            &nbsp; &nbsp; &nbsp;
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Logout &nbsp; <i class="bi bi-door-open-fill"
                        aria-hidden="true"></i> </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Signup &nbsp; <i class="bi-person-plus-fill"
                        aria-hidden="true"></i> </a>
            </li>
            &nbsp; &nbsp; &nbsp;
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Login &nbsp; <i class="bi bi-door-closed-fill"
                        aria-hidden="true"></i> </a>
            </li>
            {% endif %}
            <button onclick="toggleDarkMode()" class="btn btn-sm btn-outline-secondary ms-4" id="dark-mode-toggle">
                🌙 Mode
            </button>
            &nbsp; &nbsp; &nbsp;
        </ul>
        &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;
    </div>
</nav>